$font-main: 'Noto_Sans_JP',
sans-serif;
$font-sub: 'Source_Code_Pro',
sans-serif;
$breakpoints: ( 'sm': 'screen and (max-width: 500px)', 'md': 'screen and (max-width: 768px)', 'lg': 'screen and (max-width: 1000px)', 'xl': 'screen and (max-width: 1200px)', ) !default;
@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$darkblue: #102F50;
$white: #ffffff;
$blue: #072593;
$logo_blue: #04e1ff;
$black: #333;
$yellow: #F5D755;
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-main;
}

.text_darkBlue {
    color: $darkblue;
}

.text_white {
    color: $white;
}

.text_blue {
    color: $blue;
}

.text_logoBlue {
    color: $logo_blue;
}

.text_yellow {
    color: $yellow;
}

.text_black {
    color: $black;
}

.bg_darkBlue {
    background: $darkblue;
}

.bg_white {
    background: $white;
}

.secsion_title {
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 130px auto 30px;
    @include mq(sm) {
        margin: 170px auto 60px;
    }
}

.logo_text {
    display: flex;
    margin: 0;
    p {
        font-weight: 800;
        font-size: 20px;
        letter-spacing: .1em;
        margin: 0;
        @include mq(sm) {
            font-size: 14px;
        }
    }
}

body {
    margin: 0;
    background-color: #EBEBEB;
    header {
        a {
            text-decoration: none;
            color: $darkblue;
        }
    }
    .header_pc {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        @include mq(sm) {
            height: 50;
            display: none;
        }
        .jump_text {
            display: flex;
            align-items: center;
            p {
                cursor: pointer;
                margin: 0 20px;
                color: $white;
                font-weight: 500;
                font-size: 18px;
                @include mq(sm) {
                    font-size: 12px;
                    margin: 0 10px;
                }
            }
        }
    }
    .header_mobile {
        display: none;
        @include mq(sm) {
            display: block;
        }
        .menu_close {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: calc(100vw - 60px);
            height: 60px;
            padding: 0 30px;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            .open_button {
                width: 32px;
                height: 32px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .menu_open {
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            height: 0;
            overflow: hidden;
            transition: all .4s;
            .jump_text {
                padding: 60px 30px;
                p {
                    cursor: pointer;
                    margin: 20px 20px;
                    color: white;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
            .social_icons_div {
                position: absolute;
                bottom: 20px;
                right: 5%;
                a {
                    .social_icon {
                        width: 24px;
                    }
                    margin: 10px 8px;
                }
            }
        }
    }
    // top_secsion
    .top_secsion {
        text-align: center;
        margin: 60px auto 100px;
        @include mq(sm) {
            margin: 120px auto 100px;
        }
        h1 {
            font-size: 60px;
            @include mq(sm) {
                font-size: 34px;
            }
        }
        h2 {
            margin-top: 100px;
            font-size: 50px;
            @include mq(sm) {
                font-size: 30px;
            }
        }
        h3,
        p {
            font-size: 20px;
            @include mq(sm) {
                font-size: 16px;
            }
        }
        .top_image {
            width: 600px;
            max-width: 80%;
            border-radius: 30px;
            margin: 40px auto 20px;
        }
        // p {
        //     font-size: 16px;
        // }
    }
    // top_disc
    .top_disc_div {
        padding: 24px 50px;
        @include mq(sm) {
            padding: 24px 40px;
            margin: 10px auto 20px;
            max-width: calc(90vw - 80px);
        }
        border-radius: 10px;
        width: 800px;
        max-width: 80vw;
        margin: 30px auto 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        p {
            font-family: $font-main;
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
        }
    }
    // event_details_secsion
    .event_details_secsion {
        text-align: right;
        text-align: right;
        width: 1040px;
        max-width: calc(90vw - 140px);
        margin: 30px auto 200px;
        @include mq(sm) {
            margin: 40px auto 300px;
            max-width: calc(90vw);
        }
        .event_list_div {
            text-align: left;
            margin-bottom: 20px;
            @include mq(sm) {
                padding: 30px 20px;
            }
            padding: 60px 70px;
            border-radius: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .list_item {
                margin: 20px 0;
                padding: 20px 28px;
                @include mq(sm) {
                    margin: 30px 0;
                    padding: 15px 28px;
                }
                p {
                    margin: 0;
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 1.5;
                    word-break: break-word;
                }
            }
        }
    }
    // guest_speaker_secsion
    .guest_speaker_secsion {
        .guest_speaker_div {
            padding: 30px 70px;
            @include mq(sm) {
                padding: 30px 40px;
                margin: 10px auto 20px;
                max-width: calc(90vw - 80px);
            }
            border-radius: 10px;
            width: 900px;
            max-width: calc(90vw - 140px);
            margin: 30px auto 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            @include mq(sm) {
                flex-wrap: wrap;
            }
            justify-content: center;
            align-items: space-between;
            img {
                width: 250px;
                height: 140px;
                object-fit: cover;
                margin: 0 20px;
                @include mq(sm) {
                    width: 100%;
                    height: 300px;
                }
            }
            .bogdan_name {
                font-size: 22px;
            }
            p {
                font-weight: 800;
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }
    // program_secsion
    .program_secsion {
        text-align: right;
        width: 1040px;
        max-width: calc(90vw - 140px);
        margin: 30px auto 200px;
        @include mq(sm) {
            margin: 40px auto 300px;
            max-width: calc(90vw);
        }
        .time_comment_text {
            font-size: 12px;
            margin: 5px 20px;
        }
        .program_div {
            margin-bottom: 20px;
            @include mq(sm) {
                padding: 10px 0;
            }
            padding: 30px 0;
            border-radius: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .program_items {
                display: flex;
                margin: 12px 0;
                justify-content: start;
                align-items: center;
                text-align: left;
                @include mq(sm) {
                    display: block;
                }
                .time_div {
                    @include mq(sm) {
                        width: 80px;
                        height: 20px;
                        margin: 0 20px 0 0;
                    }
                    width: 120px;
                    height: 30px;
                    margin: 0 40px 0 0;
                    text-align: center;
                    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 85% 100%);
                    p {
                        margin: 0 auto 0;
                        line-height: 30px;
                        font-weight: 800;
                        font-size: 16px;
                        @include mq(sm) {
                            width: 80px;
                            line-height: 20px;
                            font-size: 12px;
                        }
                    }
                }
                .body_text {
                    font-weight: 500;
                    font-size: 16px;
                    text-align: left;
                    line-height: 1.5;
                    letter-spacing: .2;
                    @include mq(sm) {
                        margin: 10px 30px 40px;
                    }
                }
            }
        }
    }
    // member_text
    #member_text {
        line-height: 2;
    }
    footer {
        margin-top: 300px;
        padding: 20px 40px 80px;
        display: flex;
        position: relative;
        @include mq(sm) {
            display: block;
            padding: 50px 20px 70px;
            .logo_text {
                p {
                    font-size: 20px;
                }
            }
        }
        justify-content: center;
        align-items: center;
        .footer_disc_div {
            margin: 0 30px;
            @include mq(sm) {
                margin: 20px 0;
            }
        }
    }
}

.background_img {
    width: 100vw;
    // height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    @include mq(sm) {
        display: none;
    }
}

.background_img_sm {
    width: 100vw;
    // height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 1;
    display: none;
    @include mq(sm) {
        display: block;
    }
}

.get_height {
    height: 100vh;
    display: none;
}

.print_poster {
    font-weight: 800;
    font-size: 14px;
    text-align: right;
}

.social_icons_div {
    position: absolute;
    bottom: 40px;
    right: 5%;
    a {
        .social_icon {
            width: 30px;
        }
        margin: 10px 15px;
    }
}